---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  icon: string;
}

const props = Astro.props;
---

<div class="flex flex-col justify-center items-center gap-3 max-w-xs p-6 border border-slate-700 rounded-lg bg-slate-900 text-center">
  <span class="text-blue-400">
    <slot name="icon"/>
      <Icon slot="icon" name={props.icon} class="h-12 w-12" />
  </span>
  <h4>{props.title}</h4>
  <p class="text-slate-400">{props.description}</p>
</div>