---
import CardProject from "@/components/card/card-project.astro";
import Utilify from "@/assets/images/projects/utilify-banner.png";
import NexonUtilis from "@/assets/images/projects/nexonutilis-banner.png";
import Futuresphere from "@/assets/images/projects/futuresphere-banner.png";
import Nowted from "@/assets/images/projects/nowted-banner.png";
import { t } from "i18next";
---

<div class="w-fit grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-self-center items-stretch gap-6">
  <CardProject
    banner={Utilify}
    title={t("home:projects.items.utilify.title")}
    description={t("home:projects.items.utilify.description")}
    techs={t("home:projects.items.utilify.technologies", { returnObjects: true }) as unknown as string[]}
    live="https://utilify.js.org/"
    github="https://github.com/pattuzzoj/utilify"
  />
  <CardProject
    banner={NexonUtilis}
    title={t("home:projects.items.nexon.title")}
    description={t("home:projects.items.nexon.description")}
    techs={t("home:projects.items.nexon.technologies", { returnObjects: true }) as unknown as string[]}
    live="https://nexonutilis.vercel.app"
    github="https://github.com/pattuzzoj/nexonutilis"
  />
  <CardProject
    banner={Futuresphere}
    title={t("home:projects.items.futuresphere.title")}
    description={t("home:projects.items.futuresphere.description")}
    techs={t("home:projects.items.futuresphere.technologies", { returnObjects: true }) as unknown as string[]}
    live="https://futuresphere.vercel.app"
    github="https://github.com/pattuzzoj/futuresphere"
  />
  <!--
    <CardProject
      banner={Nowted}
      title="Nowted"
      description="Um aplicativo completo para anotações com integração backend, permitindo que os usuários criem e gerenciem suas notas."
      techs={["Solid.js", "Tailwind CSS", "IndexedDB", "Nest.js", "Node.js", "Drizzle ORM", "PostgreSQL"]}
      live="https://nowted.vercel.app"
      github="https://github.com/pattuzzoj/nowted"
    />
  -->
</div>