---
import Github from "@/shared/assets/icons/GitHub.svg";
import Linkedin from "@/shared/assets/icons/linkedin.svg";
---

<nav aria-label="redes sociais" class="flex items-center gap-2">
  <a class="group flex items-center justify-center rounded-md p-2 hover:bg-slate-800" href="https://github.com/pattuzzoj">
    <Github class="group-hover:fill-white"/>
  </a>
  <a class="group flex items-center justify-center rounded-md p-2 hover:bg-slate-800" href="https://www.linkedin.com/in/pattuzzoj">
    <Linkedin class="group-hover:fill-blue-500"/>
  </a>
</nav>