---
import Github from "@/shared/assets/icons/GitHub.svg";
import Linkedin from "@/shared/assets/icons/linkedin.svg";
---

<nav aria-label="redes sociais" class="flex items-center gap-2">
  <a class="group w-fit flex items-center gap-2 text-content-subtle hover:text-accent-hover" href="https://github.com/pattuzzoj">
    <Github class="size-9 rounded-lg p-2 hover:text-accent bg-accent/10"/>
  </a>
  <a class="group w-fit flex items-center gap-2 text-content-subtle hover:text-accent-hover" href="https://www.linkedin.com/in/pattuzzoj">
    <Linkedin class="size-9 rounded-lg p-2 hover:text-accent bg-accent/10"/>
  </a>
</nav>
